/* Bordered form */
body {
  background: #07b821;
  background: -webkit-linear-gradient(to right, #e8e5a0, #dec483);
  background: linear-gradient(to right, #fffc5f, #d0d1cb);
  min-height: 100vh;
}
/* form {
    border: 3px solid  #a7aa04;
  } */
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #a7aa04;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  Add padding to containers */
  .container {
    padding: 16px;
  }
  
  
  
  /* Change styles for span */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    
  }

  * {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color:  #a7aa04;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* CSS to display inputs inline */
.url-input {
    display: inline-block;
    margin-right: 10px; /* Add spacing between the inputs */
}

.text-center {
  text-align: center;
}

.url-input {
  text-align: center;
  margin-bottom: 10px; /* Optional: Add some spacing between the input fields */
}

.text-center {
    text-align: center;
}

.url-input {
    text-align: center;
    margin-bottom: 10px; /* Optional: Add some spacing between the input fields */
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color:  #d0d332;
}


table {
  
  width: 100%; /* Make the table span the full width of its container */
  border-collapse: separate; /* Add cell spacing */
  border-spacing: 10px; /* Adjust the cell spacing as needed */
}

th, td {
  padding: 10px; /* Add cell padding */
  font-size: 16px; /* Increase font size */
}


@media screen and (max-width: 768px) {
  table {
      width: 80%; /* Adjust the percentage as needed */
  }
}

@media screen and (max-width: 480px) {
  table {
      width: 60%; /* Adjust the percentage as needed */
  }
}

table {
  width: 100%;
}


.navbar {
  background-color: #a7aa04;
  color: white;
  border-radius: 0px;
}

#cosin_logo,
#cosin_logo:hover,
.navbar-dark .navbar-brand {
  color: #151515;
}

.navbar-nav > li > a,
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

section {
  margin-top: 50px;
}

/*  First row  */

#hero {
  height: 400px;
}

#splash {
  margin-bottom: 25px;
  font-size: 18px;
}


.text-input-group {
  display: inline-block;
  margin-right: 10px;
}

.text-input-group label {
  width: 120px;
}

.text-input-group textarea {
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}



h1 {
  font-size: 36px; /* Font size for the page title */
  margin-top: 20px; /* Add some top margin to the title */
}

/* Style the paragraph text */
p {
  font-size: 16px; /* Font size for paragraph text */
  line-height: 1.5; /* Line height for better readability */
}


