{% extends 'base.html'%}

{% block head%}
<title>login</title>
{% endblock%}

{% block body %}
<h1>login in page</h1>


<form action="/login" method="POST">
    
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  </form>
  <a href="{{url_for('registerform')}}">If do not have account,signup for free here</a><br>
{% endblock %}