{% extends 'base.html'%}

{% block head%}
<title>welcome Home</title>

{% endblock%}

{% block body %}
<link rel="stylesheet" href="/static/styles.css">
<!-- Static navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">

  <a id="ubermelon-logo" class="navbar-brand" href="#">Cosine similarity</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>




  </div>
  <ul class="flash-messages">
    <a class="nav-item mr-3 nav-link p-3" href="/logout">Logout</a>
  </ul>
</nav>

<div class="text-center"> <!-- Center-align the content -->
  <h1>Check similarity between two webpages</h1>
  <form action="/processinput"  method="POST">
    <div class="url-input">
      <label for="url1">Enter URL 1:</label>
      <input type="text" id="url1" name="url1" placeholder="https://example1.com">
    </div>

    <div class="url-input">
      <label for="url2">Enter URL 2:</label>
      <input type="text" id="url2" name="url2" placeholder="https://example2.com">
    </div>

    <input type="submit" value="Submit">
  </form>
  <!-- </div> -->
  <div class="center-table">

    <div class="table-responsive">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>url1</th>
              <th>url2</th>
              <th>Similarity%</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for info in url_info %}
            <tr>
              <td>{{ info.url_input1 }}</td>
              <td>{{ info.url_input2}}</td>
              <td>{{ info.similarity }}</td>
              <td>
                <form action="/delete" method="POST">
                  <input type="hidden" name="url_id" value="{{ info.url_id }}">
                  <input type="submit" value="Delete">
                </form>
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}